*{
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  margin:0;
  
}

/* Page Background */
.page{
  min-height:100vh;
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
  background:url("kk.png") no-repeat center center/cover;
}

/* Confirm Box */
.confirm-box{
  background:#fff;
  width:60%;
  padding:30px;
  border-radius:12px;
  text-align:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.4);
}

.confirm-box h2{
  margin-bottom:10px;
}

.confirm-box p{
  font-size:14px;
  color:#555;
  margin-bottom:25px;
  line-height:1.6;
}

/* Buttons */
.btn-group{
  display:flex;
  justify-content:space-between;
  gap:25px;
}

.btn{
  flex:1;
  padding:12px;
  border-radius:6px;
  font-size:14px;
  font-weight:bold;
  cursor:pointer;
  text-decoration:none;
  text-align:center;
  border: none;
}

/* Logout */
.btn-logout{
  background:#bbae41;
  color:#fff;
}

.btn-logout:hover{
  background:#d63b2b;
}

/* Cancel */
.btn-cancel{
  background:#ccc;
  color:#000;
  border: none;
}

.btn-cancel:hover{
  background:#b5b5b5;
}

/* Mobile */
@media (max-width:600px){
  .confirm-box{
    width:90%;
    padding:22px;
  }

  .confirm-box h2{
    font-size:20px;
  }

  .confirm-box p{
    font-size:13px;
  }
}
